
<footer class="text-white " style="margin-bottom:50px; margin-top:20px; position:absolute; bottom:0;margin-left: 40%;">
    <div class="footer-div">
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
    Copyright &copy {{copy}}
</footer>